<ion-header>
  <ion-toolbar>
    <ion-title>Discovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="6"
        size-sm="4"
        offset-sm="1"
        *ngFor="let disc of discovery"
        text-center
      >
        <ion-card>
          <ion-header>
            <ion-img [src]="disc.imageUrl"> </ion-img>
          </ion-header>
          <ion-card-content class="ion-text-center ion-no-padding">
            <h1>{{disc.name}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
